body {
  font-family: "Catamaran", sans-serif;
  color: #424242;
  overflow-x: hidden;
}

h1 {
  font-family: Catamaran;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 98px;
  text-align: center;
  color: #315d5f;
}
h4 {
  font-size: 30px;
  font-weight: 500;
}
h4,
article,
p {
  color: #424242;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

.header {
  height: 100%;
}

.header h1,
.header h4 {
  text-align: center;
  margin-top: 30px;
}

.logo {
  height: 120px;
  margin-top: 20px;
  margin-bottom: -40px;
}

.introduction h3 {
  margin-top: 40px;
}
.introduction article {
  width: 450px;
  margin: 20px 0;
  font-size: 18px;
  line-height: 27px;
}

.introduction article span.text-1 {
  font-weight: 700;
}

.introduction ul {
  margin-top: 30px;
  text-align: left;
}

.introduction ul li {
  padding-top: 7px;
}

.introduction .sympla {
  margin-top: 120px;
  margin-left: 100px;
  width: 450px;
}

.title {
  text-align: center;
  margin: 30px auto 30px auto;
}
.palestrante {
  width: 100%;
}
.palestrantes ul li img.esfera {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.palestrantes ul {
  list-style: none;
}

.palestrantes ul li p {
  text-align: center;
  font-family: Catamaran;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.palestrantes ul li article {
  text-align: center;
  margin-bottom: 30px;
}

.palestrantes ul li a img {
  width: 60px;
  height: 60px;
  margin-left: 130px;
}

.palestrantes div img.logo-simples {
  margin-left: 150px;
  margin-top: 100px;
}

.texto-al article {
  font-family: Catamaran;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  margin: 50px auto;
}
.texto-al .estilo-1 {
  color: #315d5f;
  font-size: 25px;
  line-height: 32.5px;
  margin-top: 30px;
}

.texto-al .estilo-2 {
  color: #315d5f;
  font-size: 30px;
  line-height: 45px;
  margin-top: 30px;
}

.texto-al span {
  color: #315d5f;
  font-size: 25px;
  line-height: 32px;
}

.texto-al .btn {
  font-size: 25px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;
  background: #315d5f;
  margin: 0 auto 30px auto;
  color: #65e3e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  width: 500px;
  display: block;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}

.parceiros {
  display: none;
}

.footer {
  width: 100%;
  height: 70%;
  background: #315d5f;
}

.footer img {
  padding-top: 35px;
}

.redes-sociais ul {
  list-style: none;
  display: flex;
  margin-left: 170px;
}

.redes-sociais ul li {
  padding: 35px 10px 0 10px;
}

#youtube {
  padding-bottom: 15px;
}

@media only screen and (max-width: 576px) {
  .header {
    width: 100%;
    height: 100%;
  }

  .introduction h3 {
    text-align: center;
  }

  .introduction article {
    text-align: center;
    width: fit-content;
  }

  .introduction ul li p {
    width: fit-content;
  }

  .introduction .sympla {
    margin: 30px auto;
    width: fit-content;
  }

  .palestrantes ul li p {
    text-align: center;
    margin: 20px 0 10px 0;
  }
  .palestrantes ul li article {
    text-align: center;
  }

  .palestrantes img {
    width: 100px;
    height: 100px;
    display: flex;
  }

  .palestrantes #claudia {
    margin-top: 100px;
  }

  .texto-al {
    width: fit-content;
  }

  .texto-al .btn {
    width: 80%;
    height: 90px;
  }

  .footer {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .footer a img {
    margin: 0 auto;
  }

  .footer .logo-branca {
    margin-left: 120px;
    width: 200px;
    height: 200px;
  }

  .footer .redes-sociais ul {
    margin-left: 0;
  }

  .redes-sociais ul li a img {
    height: 90%;
    width: 90%;
  }
  .redes-sociais ul li a img#youtube {
    margin-top: 8px;
  }
}
